
.page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;


    .card-login {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 50%;
        height: 400px;
        padding: 20px;

        @media(max-width: 650px) {
            width: 80%;
        }

        .card-title {
            white-space: nowrap;
        }
    }

    .test-user {
        font-size: 11px;
        margin: 9px 0 0 0;
    }

}

@media(max-width: 650px) {
    .card-footer {
        font-size: 11px;
        white-space: nowrap;
    }
}

