.page-home {
    min-height: 100vh;

    .container {
        max-width: 95%;
    }

    .col-home {
        margin: 10px;
    }

    .card-home {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 3px;

        input, textarea {
            border-radius: 10px;
            margin: 9px;
        }
    }
}